@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 76.8px;
}

/* html,
body {
  margin: 0;
  height: 100%;
} */

html{
  scroll-behavior: smooth;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.map-image {
  max-width: 1200px !important;
  height: auto !important;
}

.pin-shadow2 {
  width: 20px;
  height: 7px;
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: 100%;
}

.blogH {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pin {
  scale: 1;
}

.washington {
  top: 102px;
  left: 348px;
}

.Berkeley {
  top: 309px;
  left: 279px;
}

.Stanford {
  top: 331px;
  left: 274px;
}

.CMU {
  top: 336px;
  left: 289px;
}

.UCLA {
  top: 442px;
  left: 322px;
}

.Caltech {
  top: 437px;
  left: 339px;
}

.USC {
  top: 453px;
  left: 330px;
}

.UCSD {
  top: 478px;
  left: 340px;
}

.Rice {
  top: 610px;
  left: 787px;
}

.WashU {
  top: 387px;
  left: 885px;
}

.UIC {
  top: 309px;
  left: 928px;
}

.UMich {
  top: 292px;
  left: 1010px;
}

.NotreDame {
  top: 313px;
  left: 962px;
}

.Purdue {
  top: 349px;
  left: 954px;
}

.Vanderbilt {
  top: 452px;
  left: 959px;
}

.GeorgiaTech {
  top: 503px;
  left: 1020px;
}

.Duke {
  top: 448px;
  left: 1118px;
}

.VirginiaTech {
  top: 415px;
  left: 1063px;
}

.Georgetown {
  top: 350px;
  left: 1117px;
}

.JohnsHopkins {
  top: 341px;
  left: 1148px;
}

.UPenn {
  top: 318px;
  left: 1161px;
}

.Princeton {
  top: 301px;
  left: 1179px;
}

.Columbia {
  top: 297px;
  left: 1199px;
}

.Yale {
  top: 271px;
  left: 1205px;
}

.Brown {
  top: 263px;
  left: 1230px;
}

.MIT {
  top: 248px;
  left: 1230px;
}

.Cornell {
  top: 272px;
  left: 1111px;
}

@media screen and (max-width: 1730px) {
  .pin {
    scale: 0.8;

}

  .washington {
    top: 56px;
    left: 209px;
  }

  .Berkeley {
    top: 181px;
    left: 171px;
  }

  .Stanford {
    top: 197px;
    left: 165px;
  }

  .CMU {
    top: 204px;
    left: 175px;
  }

  .UCLA {
    top: 263px;
    left: 198px;
  }

  .Caltech {
    top: 263px;
    left: 216px;
  }

  .USC {
    top: 272px;
    left: 206px;
  }

  .UCSD {
    top: 285px;
    left: 212px;
  }

  .Rice {
    top: 366px;
    left: 480px;
  }

  .WashU {
    top: 230px;
    left: 534px;
  }

  .UIC {
    top: 188px;
    left: 567px;
  }

  .UMich {
    top: 171px;
    left: 617px;
  }

  .NotreDame {
    top: 186px;
    left: 588px;
  }

  .Purdue {
    top: 206px;
    left: 584px;
  }

  .Vanderbilt {
    top: 269px;
    left: 589px;
  }

  .GeorgiaTech {
    top: 304px;
    left: 627px;
  }

  .Duke {
    top: 262px;
    left: 683px;
  }

  .VirginiaTech {
    top: 245px;
    left: 657px;
  }

  .Georgetown {
    top: 208px;
    left: 678px;
  }

  .JohnsHopkins {
    top: 204px;
    left: 701px;
  }

  .UPenn {
    top: 188px;
    left: 710px;
  }

  .Princeton {
    top: 179px;
    left: 722px;
  }

  .Columbia {
    top: 172px;
    left: 738px;
  }

  .Yale {
    top: 158px;
    left: 738px;
  }

  .Brown {
    top: 153px;
    left: 753px;
  }

  .MIT {
    top: 143px;
    left: 758px;
  }

  .Cornell {
    top: 156px;
    left: 683px;
  }
}
@media screen and (max-width: 900px) {
  .pin {
    scale: 0.6;
  }

  .washington {
    top: 20px;
    left: 112px;
  }

  .Berkeley {
    top: 87px;
    left: 86px;
  }

  .Stanford {
    top: 87px;
    left: 86px;
  }

  .CMU {
    top: 102px;
    left: 91px;
  }

  .UCLA {
    top: 130px;
    left: 103px;
  }

  .Caltech {
    top: 130px;
    left: 113px;
  }

  .USC {
    top: 137px;
    left: 107px;
  }

  .UCSD {
    top: 142px;
    left: 110px;
  }

  .Rice {
    top: 184px;
    left: 252px;
  }

  .WashU {
    top: 112px;
    left: 280px;
  }

  .UIC {
    top: 86px;
    left: 296px;
  }

  .UMich {
    top: 76px;
    left: 324px;
  }

  .NotreDame {
    top: 90px;
    left: 311px;
  }

  .Purdue {
    top: 105px;
    left: 309px;
  }

  .Vanderbilt {
    top: 132px;
    left: 312px;
  }

  .GeorgiaTech {
    top: 153px;
    left: 334px;
  }

  .Duke {
    top: 129px;
    left: 362px;
  }

  .VirginiaTech {
    top: 121px;
    left: 346px;
  }

  .Georgetown {
    top: 103px;
    left: 358px;
  }

  .JohnsHopkins {
    top: 100px;
    left: 372px;
  }

  .UPenn {
    top: 88px;
    left: 376px;
  }

  .Princeton {
    top: 86px;
    left: 381px;
  }

  .Columbia {
    top: 82px;
    left: 391px;
  }

  .Yale {
    top: 74px;
    left: 391px;
  }

  .Brown {
    top: 70px;
    left: 403px;
  }

  .MIT {
    top: 58px;
    left: 396px;
  }

  .Cornell {
    top: 71px;
    left: 361px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 76.8px;
  }
  
  .pin {
    scale: 0.4;
  }

  .washington {
    top: 8px;
    left: 64px;
  }

  .Berkeley {
    top: 44px;
    left: 51px;
  }

  .Stanford {
    top: 52px;
    left: 48px;
  }

  .CMU {
    top: 56px;
    left: 54px;
  }

  .UCLA {
    top: 74px;
    left: 60px;
  }

  .Caltech {
    top: 74px;
    left: 66px;
  }

  .USC {
    top: 78px;
    left: 64px;
  }

  .UCSD {
    top: 80px;
    left: 68px;
  }

  .Rice {
    top: 108px;
    left: 154px;
  }

  .WashU {
    top: 61px;
    left: 168px;
  }

  .UIC {
    top: 47px;
    left: 181px;
  }

  .UMich {
    top: 41px;
    left: 198px;
  }

  .NotreDame {
    top: 48px;
    left: 189px;
  }

  .Purdue {
    top: 56px;
    left: 187px;
  }

  .Vanderbilt {
    top: 75px;
    left: 187px;
  }

  .GeorgiaTech {
    top: 89px;
    left: 202px;
  }

  .Duke {
    top: 73px;
    left: 221px;
  }

  .VirginiaTech {
    top: 65px;
    left: 215px;
  }

  .Georgetown {
    top: 56px;
    left: 217px;
  }

  .JohnsHopkins {
    top: 53px;
    left: 227px;
  }

  .UPenn {
    top: 46px;
    left: 227px;
  }

  .Princeton {
    top: 45px;
    left: 234px;
  }

  .Columbia {
    top: 43px;
    left: 242px;
  }

  .Yale {
    top: 36px;
    left: 238px;
  }

  .Brown {
    top: 31px;
    left: 247px;
  }

  .MIT {
    top: 23px;
    left: 247px;
  }

  .Cornell {
    top: 35px;
    left: 223px;
  }
}
