@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 76.8px;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

/* .first-button{
    margin-left: 0 ;
} */